{% extends 'base.html.twig' %}

{% block title %} Ma commande {% endblock %}



{% block body %}

    <main>
        <div class="container">

            <div class="row">

                <div>
                    <br/>
                    <br/>
                </div>

                {# TITRE #}
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h2><i class="fas fa-shopping-basket"></i> Ma Commande</h2>
                </div>


                {% if items| length > 0 %}

                    {# TABLE #}
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div id="maCommande">
                            <div>

                                <table>

                                    <thead>
                                    <tr>
                                        <th>Nom(s) article(s)</th>
                                        <th> Quantité article(s)</th>
                                        <th> Prix unitaire TTC </th>
                                        <th> Prix total TTC </th>
                                        <th> <i class="fas fa-trash-alt"></i></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for item in items %}
                                        <tr>
                                            <td> {{ item.article.nomPanier }}</td>
                                            <td> {{ item.quantite }} </td>
                                            <td> {{ item.article.prixPanier }} &euro;</td>
                                            <td> {{ item.article.prixPanier * item.quantite}} &euro;</td>
                                            <td> <a href="{{ path('commande_delete',{id:item.article.id}) }}"> <i class="fas fa-trash-alt"> </i> </a> </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                    <tfoot class="montant">
                                    <tr>
                                        <td colspan="3">Montant total de la commande </td>
                                        <td colspan="2"> {{total}} &euro;</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <br/>
                            <br/>

                            <div id="payerCommande" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                {# Bouton 1 #}
                                <button><a href="{{ path('paniers') }}">Modifier ma sélection </a></button>


                                {# Bouton 2 JS #}
                                <button type="submit"> Régler ma commande</button>

                            </div>

                        </div>
                    </div>


                {% else %}

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div id="maCommande">
                            <table>
                                <tr>
                                    <td> Votre panier est vide !</td>
                                    <td><a href='compte.php'> Se connecter </a> ou <a href='compte.php'> Créer un
                                            compte </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>


                {% endif %}




                {# MODAL AFFICHAGE AVEC JS #}
                <div id="alertConnexionCommande" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>Merci de vous connecter ou de créer un compte</p>
                    <i id="closeAlertConnexionCommande" class="fas fa-window-close"></i>
                </div>

            </div>
        </div>
    </main>

{% endblock %}