{% extends 'base.html.twig' %}

{% block title %} Ma commande {% endblock %}



{% block body %}

    <main>
        <div class="container">

            <div class="row">

                <div>
                    <br/>
                    <br/>
                </div>

                {# ####################### TITRE ########################## #}
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h2><i class="fas fa-shopping-basket"></i> Ma Commande</h2>
                </div>
                {# ########################## FIN TITRE ###################### #}

                {# ################################ Conditions ########################## #}
                {% if items| length > 0 and app.user %}
                    {# TABLE CONDITIONS = user connecté + commande #}
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div id="maCommande">
                            <div>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Nom(s) article(s)</th>
                                        <th> Quantité article(s)</th>
                                        <th> Prix unitaire TTC</th>
                                        <th> Prix total TTC</th>
                                        <th><i class="fas fa-trash-alt"></i></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for item in items %}
                                        <tr>
                                            <td> {{ item.article.nomPanier }}</td>
                                            <td> {{ item.quantite }} </td>
                                            <td> {{ item.article.prixPanier }} &euro;</td>
                                            <td> {{ item.article.prixPanier * item.quantite }} &euro;</td>
                                            <td><a href="{{ path('commande_delete',{id:item.article.id}) }}"> <i
                                                            class="fas fa-trash-alt"> </i> </a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                    <tfoot class="montant">
                                    <tr>
                                        <td colspan="3">Montant total de la commande</td>
                                        <td colspan="2"> {{ total }} &euro;</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <br/>
                            <br/>

                            <div id="payerCommande" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                                <form action="{{ path('paiement') }}" method="post">
                                    <input type="submit" id="checkout-button" value="Accèder au paiement"></input>
                                </form>

                            </div>
                        </div>
                    </div>


                    {# ######################################  Conditions ######################################### #}
                {% elseif items| length == 0 and app.user %}
                    {# TABLE CONDITIONS = user connecté + pas de commande #}
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div id="maCommande">
                            <table>
                                <tr>
                                    <td> Votre panier est vide !</td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    {# ######################################### Conditions ######################################### #}
                {% elseif not app.user %}
                    {# TABLE CONDITIONS = user pas connecté #}
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div id="maCommande">
                            <table>
                                <td><a href='{{ path('app_login') }}'> Se connecter </a>
                                    ou <a href='{{ path('app_register') }}'> Créer un compte </a>
                                </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    {# Fin Conditions #}
                {% endif %}

            </div>
        </div>
    </main>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
