{% extends 'base.html.twig' %}

{% block title %}Profil de l'utilisateur {{ user.prenom }} {{ user.nom }}{% endblock %}

{% block body %}


<h3>Bienvenue sur votre espace membre {{ user.prenom }} {{ user.nom }}</h3>

    <ul>
        <li> <strong>Pseudo</strong> : {{ user.pseudo }}</li>
        <li> <strong>Prénom</strong> : {{ user.prenom }}</li>
        <li><strong>Nom</strong> : {{ user.nom }}</li>
        <li><strong>Date de naissance</strong> : {{ user.dob }}</li>
        <li><strong>Numéro de téléphone</strong> : {{ user.tel }}</li>
        <li><strong>Adresse</strong> : {{ user.adresse }}</li>
        <li><strong>Ville</strong> : {{ user.ville }}</li>
        <li><strong>Code Postal</strong> :{{ user.cp }}</li>
        <li><strong>Adresse email</strong> :{{ user.email }}</li>
        <li> <strong>Mot de passe</strong> :{{ user.password }}</li>
    </ul>

    <a href="{{ path('index') }}">retour sur la page d'accueil</a>

{% endblock %}
